.blogPictureAndFeaturedArticle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blogHeader img {
    width: 100%;
}

@media (min-width: 40em) {
    .blogBox {
        width: 30rem;
    }


}

@media (min-width: 60em) {
    .blogHeader img {
        width: 350pt;
        margin-right: 1rem;
    }

    .blogPictureAndFeaturedArticle {
        flex-direction: row;
        align-items: center;
    }
  


}

@media (min-width: 80em) {
    .wrapper {
        display: grid;
        /* grid-template-rows:repeat(auto-fill,auto); */
        /* grid-gap:10px; */
        grid-template-columns: 400px 400px auto;
    }
    .blogBox {
        width: 20rem;
    }
}

.featuredArticle {
    margin-left: 1rem;
}

h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.blogHeader h1 {
    font-size: 2rem;
    margin-block: 1rem;
}

.blogBox {
    background-color: var(--accentColor);
    margin: 1rem;
    padding-inline: 1rem;
    border-radius: 5pt;
    height: 200pt;
}

.blogBox h2 {
    padding-top: 1rem;
    margin: 0;
}

.blogBox p {
    padding-block: 1rem;
    text-overflow: clip;
    height: 300pt;
}

.blogs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.readMore {
    display: flex;
    justify-content: center;
}
.readMore input {
    background-color: var(--accentColor);
    border: none;
    color: white;
    width: 90pt;
    height: 30pt;
    /* padding-inline: 1rem;
    padding-block: 0.8rem; */
    border-radius: 20pt;
}

.readMore input:hover {
    cursor: pointer;
}