#selectedBooking {
    text-align: center;
    height: 30pt;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5pt;
    border-color: rgba(255, 255, 255, 0.381);
}

h2 {
    color: white;
    font-size: medium;
    font-weight: bolder;
}

p {
    color: rgba(255, 255, 255, 0.671);
    font-size: small;
}

.dateAndService {
    display: flex;
    justify-content: space-between;
}

.order {
    display: flex;
    justify-content: space-between;

}

.priceText {
    color: var(--secondaryAccentColor);
    margin-right: 1rem;
}

.priceLabel {
    display: flex;
}

.orderPrice h1 {
    margin-top: 0;
}

.orderPrice p {
    color: rgba(255, 255, 255, 0.287);
    margin-bottom: 0;
}

.orderConfirmation {
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
    color: white;
    background-color: var(--accentColor);
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 30pt;
    margin: 1rem;
}


/* Taken from https://www.w3schools.com/howto/howto_css_modals.asp */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #3f3f3f;
    margin: 50% auto; /* 50% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 20pt;
    font-weight: bold;
  }
  .modal-content h1 {
display: flex;
justify-content: center;
  }
  .modal-content h2 {
    display: flex;
    justify-content: center;
      }
  /* .modal-content p {
      font-size: larger;
  } */
  /* The Close Button
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  */