:root {
    --accentColor: #3F5925;
    --secondaryAccentColor: #98BF71;
}

body {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: black;
}


/* NAVIGATION */
nav {
    /* margin-inline: 5rem; */
    /* margin-left: 2rem; */
    display: flex;
    justify-content: space-between;

}

nav img {
    width: 8rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

nav li {
    margin: 1rem;
}

nav li a {
    font-weight: bold;
    padding: 0.5rem;

}

nav ul li a:hover {
    background-color: var(--accentColor);
    border-radius: 2rem;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35em) {
    nav {
        /* position: fixed; */
        /* inset: 0 0 0 30%; */
        flex-direction: column;

    }

    nav ul {
        flex-direction: column;
        background-color: rgb(0, 0, 0);

        display: none;
        padding-top: 3rem;
        width: 100%;
        margin: 0;
        margin-top: 1rem;
    }

    nav ul li {
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-end;
        /* margin-right: 2rem; */
        margin-block: 0;
    }




    nav ul[data-visible="true"] {
        display: block;
        position: absolute;
        padding-top: 4rem;
        right: 0rem;
        /* margin-right: 4rem; */

    }

    .mobile-nav-toggle {

        display: flex;
        justify-content: flex-end;
        z-index: 9999;
        font-size: 25pt;
        width: 25pt;
        position: absolute;
        aspect-ratio: 1;
        color: white;
        background: transparent;
        border: none;
        top: 2rem;
        right: 1rem;
        padding-right: 0.5rem;
    }


}

/* NAVIGATION END */
footer {
    display: flex;
    justify-content: space-between;
    margin-inline: 0.5rem;
    margin-top: 2rem;
}

.footerBox h1 {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.670);
}

.footerBox p {
    font-size: 0.6rem;
    color: rgba(255, 255, 255, 0.670);
}

.mediaIcons {
    font-size: 15pt;
}

a.button {
    /* width: fit-content;
    margin-right: 2pt; */
    text-decoration: none;
    color: white;
}